<article class="contact default">
    <!-- <div id="game" class="bloc underline" ng-click="jump()">
      <img id="game-wallpaper" src="./resources/game/wallpaper.jpg"/>
      <button id="btn-play" class="bloc underline noBorder downloadBloc" ng-hide="isPlaying" ng-click="play()">Jouer</button>
        <div id="player">
          <div id="hitbox">
            <div id="tail"></div>
            <div id="body"></div>
            <div id="legs"></div>
            <div id="hands"></div>
            <div id="head"></div>
          </div>
          <img id="player-img" src="./resources/game/poney.gif"/>
        </div>
    </div> -->
  <fieldset>
    <div class="bloc underline">
      <h5><span class="keyword">Email</span> : mehdi.meddour@epitech.eu</h5>
    </div>
      <button id="contactButton" class="bloc underline noBorder downloadBloc" ng-click="doMailto()">{{'contact.contactMe' | translate}}</button>
  </fieldset>
</article>
