<article class="projects default" med-scroll-on-swipe="both">
  <med-project-sidebar visibility-var="visibleSidebar" class="projectSidebar" ng-show="visibleSidebar" project-model="projectModel"></med-project-sidebar>
  <aside class="sidebarShowButton" ng-hide="visibleSidebar">
    <med-svg src="./style/images/down.svg" ng-click="visibleSidebar = !visibleSidebar"></med-svg>
  </aside>
  <div class="medInfoContainer" med-scroll-on-swipe="vertical" tabindex="0">
    <div class="infoBloc bloc underline fromTop" ng-repeat="info in configFile.projects | filterProject:this track by $index" ng-click="setProject(info)" med-on-touch>
      <h1 ng-class="info.name.split(' ').length > 1 ? 'twoPart' : 'onePart'">{{info.name}}</h1>
      <img class="imgOnLoad" ng-src="{{info.ico}}"/>
    </div>
  </div>
</article>
<article class="description right" med-scroll-on-swipe="horizontal">
  <div ng-hide="currentProject">
  </div>
  <div class="projectPresentation" ng-hide="!currentProject"  med-scroll-on-swipe="vertical">
    <section class="projectSummaryContainer">
      <div class="bloc topic underline">
        <h2> Resume du <span class="keyword">sujet</span> </h2>
        <div>
          {{currentProject.description[0]}}
        </div>
      </div>
      <div class="bloc difficulties underline">
        <h5>Difficultes</h5>
        <div>
          {{currentProject.description[1]}}
        </div>
      </div>
      <div class="bloc debriefing underline">
        <h5>Debrie<span class="keyword">fing</span></h5>
        <div>
          {{currentProject.description[2]}}
        </div>
      </div>
    </section>
    <section class="projectDataContainer">
      <aside class="bloc UI underline rangePercentageContainer projectName">
        <h2>{{currentProject.name}}</h2>
      </aside>
      <aside class="bloc UI underline rangePercentageContainer projectName">
        <span><span class="keyword">Langage:</span> <span class="projectLanguage">{{currentProject.language}}</span></span>
      </aside>
      <!-- <img class="bloc imgContainer underline"src="{{currentProject.img}}"></img> -->
      <aside class="bloc UI rangePercentageContainer">
        <span class="skillInRange">Temps</span>
        <span class="percentageInRange"><sup>{{currentProject.time}}</sup></span>
        <div class="rangePercentage time" style="width: {{(currentProject.time * 10) + '%'}}"></div>
      </aside>
      <aside class="bloc UI rangePercentageContainer">
        <span class="skillInRange">Personnes</span>
        <span class="percentageInRange"><sup>{{currentProject.numberPerson}}</sup></span>
        <div class="rangePercentage numberPerson" style="width: {{(currentProject.numberPerson * 15) + '%'}}"></div>
      </aside>
      <aside class="bloc UI rangePercentageContainer">
        <span class="skillInRange">Amour</span>
        <span class="percentageInRange"><sup>{{currentProject.love}}</sup></span>
        <div class="rangePercentage love" style="width: {{(currentProject.love * 20) + '%'}}"></div>
      </aside>
      <aside class="downloadBloc">
        <em>Telechargez moi !</em>
      </aside>
    </section>
  </div>
</article>
