<article class="projects-container default" med-scroll-on-swipe="both" med-lazy-load="getProjects()">
  <med-project-sidebar visibility-var="visibleSidebar" class="projectSidebar" ng-show="visibleSidebar" project-model="projectModel"></med-project-sidebar>
  <aside class="sidebarShowButton" ng-hide="visibleSidebar">
    <med-svg src="./images/down.svg" ng-click="visibleSidebar = !visibleSidebar"></med-svg>
  </aside>
  <div class="med-info-container" med-scroll-on-swipe="vertical">
    <div class="infoBloc bloc underline" ng-class="isFiltered ? 'filtered' : ''" title="{{'projects.click' | translate}}" ng-repeat="info in projects | filterProject:this track by $index" ng-click="setProject(info)">
      <h1>{{info.name}}</h1>
      <img class="project-img-preview" ng-src="{{info.ico}}" med-fade-on-load/>
    </div>
  </div>
</article>
<article class="description right" med-scroll-on-swipe="horizontal">
  <div ng-hide="currentProject">
  </div>
  <div class="projectPresentation" ng-hide="!currentProject"  med-scroll-on-swipe="vertical">
    <div id="global-project">
      <section class="bloc-no-margin underline">
         <div id="project-name">
            <h1>{{currentProject.name}}</h1>
            <img id="project-img" ng-src="{{currentProject.ico}}" med-fade-on-load></img>
         </div>
      </section>
      <section class="projectDataContainer marged-bottom-5">
        <aside class="bloc UI underline rangePercentageContainer marged-2">
          <span><span class="keyword">{{'projects.projectView.techno' | translate}}</span> <span class="project-language">{{currentProject.language.join(' | ')}}</span></span>
        </aside>
        <aside class="bloc UI rangePercentageContainer marged-2">
          <span class="skillInRange">{{'projects.projectView.time' | translate}}<sub class="keyword">[{{'projects.projectPreview.inWeek' | translate}}]</sub></span>
          <span class="percentageInRange"><sup>{{currentProject.time}}</sup></span>
          <div class="rangePercentage time" ng-style="{width: (currentProject.time * 10) + '%'}"></div>
        </aside>
        <aside class="bloc UI rangePercentageContainer marged-2">
          <span class="skillInRange">{{'projects.projectPreview.persons' | translate}}</span>
          <span class="percentageInRange"><sup>{{currentProject.numberPerson}}</sup></span>
          <div class="rangePercentage numberPerson" ng-style="{width: (currentProject.numberPerson * 15) + '%'}"></div>
        </aside>
        <aside class="bloc UI rangePercentageContainer marged-2">
          <span class="skillInRange">{{'projects.projectPreview.love' | translate}}</span>
          <span class="percentageInRange"><sup>{{currentProject.love}}</sup></span>
          <div class="rangePercentage love" ng-style="{width: (currentProject.love * 20) + '%'}"></div>
        </aside>
      </section>
      <div id="project-info">
        <section class="projectSummaryContainer">
          <div class="bloc topic underline marged-bottom-5">
            <h2> <span ng-bind-html="'projects.projectView.projectSummary' | translate"></span> </h2>
            <p>
              {{currentProject.description[0]}}
            </p>
          </div>
          <div class="bloc difficulties underline" ng-show="currentProject.description[1] != ''">
            <h2>{{'projects.projectView.difficulties' | translate}}</h2>
            <p>
              {{currentProject.description[1]}}
            </p>
          </div>
          <div class="bloc difficulties underline" ng-show="currentProject.description[2]">
            <h2>{{'projects.projectView.link' | translate}}</h2>
            <p><a href="{{currentProject.description[2]}}">
              {{currentProject.description[2]}}
            </a></p>
          </div>
        </section>
      </div>
    </div>
  </div>
</article>
