/* violet : rgb(40, 34, 53) */
/* cyan: rgb(0, 128, 128) */

@font-face
{
  font-family: futura;
  src: url("./fonts/futura.ttf");
}

*:focus
{
  outline: 0px;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
  cursor: normal;
}

a
{
  color: inherit;
  text-decoration: none;
}

html
{
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body
{
  margin: 0px;
  background-image: url("../images/wallpaper.png");
  background-repeat: repeat;
  overflow: hidden;
}

h2, h5
{
  margin-top: 0;
  margin-bottom: 3vh;
  -webkit-margin-before: 0;
  -webkit-margin-after: 3vh;
}

h3
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 4vh;
}

h1, p, em, h2, h5
{
  cursor: default;
}

h5
{
  margin-bottom: auto;
  font-size: 5vh;
}

h1
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

sub
{
  font-size: 2vh;
}

em
{
  font-size: 60px;
}

form
{
  font-weight: bold;
  font-size: 32px;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

fieldset
{
  border: 0px;
}

fieldset span
{
  font-size: 30px;
}

::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: rgba(161, 4, 59, 0.8);
  outline: 1px solid;
}

/* NAVBAR */

nav.navbar
{
  z-index: 2;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: rgb(40, 34, 53);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  transition-property: height;
  transition-duration: 0.5s;
  height: 80px;
}

nav.navbar.ng-hide
{
  transition-property: transform;
  transition-duration: : 0.5s;
  transform: translate(0, -80px);
}

.navbarLogo
{
  align-self: center;
  margin-right: auto;
  margin-left: 20px;
  height: 50px;
  width: 100px;
}

.navbarLogo img
{
  height: 100%;
  width: 100%;
}

nav.navbar a.navbarTab img.navPicture
{
  margin-top: 2px;
  height: 50%;
  fill: white;
}

med-svg.navPicture svg
{
  transition-duration: 0.5s;
  margin-top: 2px;
  height: 50%;
  width: 100%;
  fill: white;
}

.svg-ui-container
{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  justify-content: flex-end;
}

.svg-ui
{
  margin: 2px;
  width: 40px;
  height: 40px;
}

.svg-ui *
{
  width: 100%;
  height: 100%;
}

.star
{
  fill: rgb(255, 255, 0);
}

.time
{
  fill: rgb(255, 255, 255);
}

.love
{
  fill: rgb(117, 0, 0);
}

.head
{
  fill: rgb(0, 100, 0);
}

nav.navbar a.navbarTab
{
  cursor: pointer;
  width: 100px;
  text-align: center;
  height: 100%;
  transition: 1s;
  visibility: visible;
}

a.navbarTab.ng-hide-remove, a.navbarTab.ng-hide-add.ng-hide-add-active
{
  -webkit-transform: translate(-500%, 0);
  -moz-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  -o-transform: translate(-500%, 0);
  transform: translate(-500%, 0);
  opacity: 0;
}

nav.navbar div.navbarTabOption
{
  vertical-align: top;
  text-align: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 100%;
}

div.navPictureLittle
{
  cursor: pointer;
  transition-duration: 0.5s;
  width: 100%;
  height: 40%;
}

.big
{
   height: 100% !important;
}

div.navPictureLittle svg
{
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  fill: white;
}

nav.navbar a.navbarTab:hover, div.navPictureLittle:hover
{
  background-color: rgb(0, 128, 128);
  color: rgb(40, 34, 53);
}

nav.navbar a.navbarTab:hover med-svg.navPicture svg, div.navPictureLittle:hover svg
{
  fill: rgb(40, 34, 53);
}

aside.navPictureShow
{
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(30, 24, 43, 0.5);
}

/* END NAVBAR */

/* START CONTAINER WITH NAVBAR */

div.containerWithNavbar.ng-enter-active, div.containerWithNavbar.ng-enter
{
  -webkit-transform: translate(-100vw, 0);
  -moz-transform: translate(-100vw, 0);
  -ms-transform: translate(-100vw, 0);
  -o-transform: translate(-100vw, 0);
  transform: translate(-100vw, 0);
  transition: 0.7s ease-in-out all;
}

div.containerWithNavbar.ng-leave-active
{
  -webkit-transform: translate(100vw, 0);
  -moz-transform: translate(100vw, 0);
  -ms-transform: translate(100vw, 0);
  -o-transform: translate(100vw, 0);
  transform: translate(100vw, 0);
  transition: 0.7s ease-in-out all;
}

div.containerWithNavbar
{
  position: relative;
  overflow: hidden;
  height: calc(100vh - 80px);
  width: 100vw;
  -webkit-transition: transform 0.7s, height 0.3s;
  -moz-transition: transform 0.7s, height 0.3s;
  -o-transition: transform 0.7s, height 0.3s;
  transition: transform 0.7s, height 0.3s;
}

div.containerWithoutNavbar
{
  z-index: 0;
  position: absolute;
  top: 80px;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate(0, -80px);
  -moz-transform: translate(0, -80px);
  -ms-transform: translate(0, -80px);
  -o-transform: translate(0, -80px);
  transform: translate(0, -80px);
  -webkit-transition: transform 0.7s, height 0.3s;
  -moz-transition: transform 0.7s, height 0.3s;
  -o-transition: transform 0.7s, height 0.3s;
  transition: transform 0.7s, height 0.3s;
}

/* END CONTAINERWITHNAVBAR */

/* START ARTICLE */

article
{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
}

article h1
{
  margin: 0;
  font-size: 124px;
  color: rgb(121, 43, 101);
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
}

article section
{
  display: flex;
  flex-direction: column;
}

article.default
{
  transform: translate(0, 0);
}

article.right
{
  transform: translate(100%, 0);
}

article.left
{
  transform: translate(-100%, 0);
}

article.description
{
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
}

article.presentation
{
  overflow-y: auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.place-img
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* directive d'info bloc */

article div div.infoBloc
{
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 33.333%;
  min-width: 290px;
  height: 320px;
  transition: 0.5s !important;
}

article div div.infoBloc:focus
{
  border: 0px;
}

article div div.infoBloc.ng-enter, article div div.infoBloc.ng-enter-active
{
  opacity: 1;
}

article div div.infoBloc.ng-leave-active
{
  opacity: 0 !important;
}

article div.med-info-container
{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  width: calc(90vw - 300px);
}

div.infoBloc h1
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin: 0px;
  width: 0%;
  padding-top: 20px;
  padding-left: 10px;
  color: rgb(0,128,128);
}

#project-name h1
{
  justify-content: center;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(250px - 50px);
  bottom: 0;
  margin: auto auto;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: rgb(0,128,128);
}

article div div.infoBloc:hover img
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

article div div.infoBloc img
{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

 /* END ARTICLE */

#indexUI
{
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.indexCircle
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition-property: background-color | color;
  transition-duration: 0.5s;
  background-position: center;
  background-size: 30px;
  background-color: rgba(161, 4, 59, 0.8);
}

.indexCircleActive
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition-property: background-color | color;
  transition-duration: 1s;
  background-position: center;
  background-size: 30px;
}

.indexCircle:hover, .indexCircleActive:hover, .indexCircleActive
{
  background-color: rgb(0,128,128);
}

/* start directive med rotate on hover */

img.rotateOnHover
{
  transition: 1.5s ease-in-out;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

img.rotateOnHoverReverse
{
  transition: 1.5s ease-in-out;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* END rotate on hover */

med-project-sidebar
{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-width: 280px;
  min-height: 640px;
  transition: 0.5s ease-in-out;
}

med-project-sidebar.ng-hide
{
  transform: translate(-100%, 0);
  transition: 0.5s ease-in-out;
}

med-project-sidebar form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

med-range-selector, med-switch-selector, med-range
{
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

med-range-selector med-svg-in-range-selector, med-switch-selector med-svg-in-switch-selector, med-range med-svg-in-range
{
  margin-right: 7px;
  margin-left: 7px;
  width: 40px;
  height: 40px;
}

med-switch-selector med-svg-in-switch-selector
{
  border: 2px solid rgba(0, 0, 0, 0);
}

med-range-selector med-svg-in-range-selector svg, med-switch-selector med-svg-in-switch-selector svg, med-range med-svg-in-range svg
{
  width: 100%;
  height: 100%;
}

med-project-sidebar
{
  z-index: 2;
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 32px;
}

.noBorder
{
  font-size: 5vh;
  border: 0;
}

/* KEYFRAMES */

@keyframes bounce
{
  from {top: -300px;}
  50% {top: -150px;}
  to {top: 0px;}
}

.opacityOnLoad
{
  animation: opacityOnLoad 0.3s;
}

@keyframes opacityOnLoad
{
  from {opacity: 0;}
  to {opacity: 1;}
}

.fromLeft
{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fromLeft 1.5s;
}

.fromRight
{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fromRight 1.5s;
}

form.sidebarForm
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  transition: 0.5s ease-in-out;
}

med-project-sidebar
{
  transition: 0.5 ease-in-out;
}

div.projectPresentation
{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

#global-project
{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

#project-name
{
   position: relative;
   height: 500px;
}

#project-img
{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#project-info
{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.project-img-preview
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projectSummaryContainer
{
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: right;
}

.projectDataContainer
{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

span.project-language
{
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 5px;
}

aside.UI
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 36px;
}

.info-container
{
  flex-grow: 1;
  width: 24vw;
  min-width: 400px;
}

.text-right
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.text-left
{
  width: 100%;
  flex-grow: 1;
  text-align: left;
}

.text-center
{
  width: 100%;
  flex-grow: 1;
  text-align: center;
}

.img-cover
{
  object-fit: cover;
}

.img-switch img
{
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.underline
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 4px solid rgba(0,128,128, 0.8);
}

.bloc, .sidebarBloc, .bloc-no-margin
{
  overflow: hidden;
  position: relative;
  background-color: rgb(40, 34, 53);
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  color: white;
}

.img-switch
{
  width: 100%;
  height: 100%;
}

.downloadBloc
{
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 128, 128);
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(40, 34, 53);
  transition: 0.5s;
}

.downloadBloc:hover
{
  transition: 0.5s;
  color: rgb(0, 128, 128);
  background-color: rgb(40, 34, 53);
  border-bottom: 5px solid rgb(0, 128, 128);
}

.downloadBloc:hover .keyword, .downloadBloc:hover .keyword2
{
  transition: 0.5s;
  color: rgb(0, 128, 128);
}

.downloadBloc *
{
  cursor: pointer;
}

.sidebarBloc
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  margin: 0.5%;
}

div.bloc.picture
{
  transition: 1s;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.bloc.picture med-svg, div.bloc.picture img
{
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
  height: 80%;
  width: 100%;
}

div.bloc.picture med-svg svg, div.bloc.picture img
{
  transition: 1s;
  width: auto;
}

.marged-top-2 svg
{
  margin-top: 2px;
}

.marged-2
{
  margin: 2px;
}

.marged-bottom-5
{
  margin-bottom: 5px;
}

div.bloc div.comments
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 128, 128, 0.95);
  visibility: hidden;
  transform : translate(0, -100%);
  transition: 0.5s;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
}

div.bloc div.comments p
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  cursor: pointer;
  margin: 10%;
  height: auto;
  width: auto;
}

div.bloc:hover div.comments
{
  cursor: pointer;
  visibility: visible;
  transform: translate(0, 0);
  transition: 0.5s;
}

div.bloc.picture:hover
{
  transition: 1s;
  border-bottom: 5px solid rgb(0, 200, 200);
}

aside.inSkill
{
  font-size: 30px;
  margin-top: 3px;
  height: 15%;
}

aside.rangePercentageContainer
{
  font-weight: bold;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(40, 34, 53);
}

aside.rangePercentageContainer div.skillInRange
{
  margin-left: 10px;
  float: left;
}

aside.rangePercentageContainer span.percentageInRange
{
  margin-right: 10px;
  float: right;
}

aside.rangePercentageContainer div.rangePercentage
{
  position: absolute;
  height: 6px;
  bottom: 0px;
  width: 0px;
  transition: 2s ease-in-out width;
  transition-delay: 1s;
}

aside.rangePercentageContainer div.rangePercentage.skill
{
  background-color: rgb(255,215,0);
}

aside.rangePercentageContainer div.rangePercentage.love
{
  background-color: rgb(128, 0, 0);
}

aside.rangePercentageContainer div.rangePercentage.numberPerson
{
  background-color: rgb(0, 100, 0);
}

aside.rangePercentageContainer div.rangePercentage.time
{
  background-color: rgb(255, 255, 255);
}

.bloc em, .downloadBloc em
{
  font-style: normal;
}

.skillBloc
{
  flex-grow: 1;
  width: calc(20% - 4px);
  min-width: 300px;
  margin-bottom: 10px;
  animation: opacityOnLoad 1s;
}

.skillBloc:last-of-type
{
  flex-grow: 0 !important;
}

.skillBloc .picture {
  cursor: pointer;
}

.keyword
{
  color: rgb(0,128,128);
}

.keyword2
{
  color: rgb(40, 34, 53);
}

.epitech
{
  cursor: pointer;
  color: rgb(100, 149, 237);
}

.topic, .difficulties, .debriefing, .projectDataContainer aside
{
  font-size: 36px;
}

fieldset div.lifeInfo
{
  color: white;
}

#school div fieldset div.lifeInfo
{
  font-size: 50px;
}

#work div fieldset div.lifeInfo
{
  font-size: 50px;
}

#school, #work
{
  min-width: 500px;
  width: 50%;
  flex-grow: 1;
}

#school div, #work div
{
  cursor: pointer;
}

med-word-switch
{
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.inputName
{
  position: relative;
  z-index: 1;
}

aside.sidebarHideButton
{
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}

aside.sidebarHideButton med-svg svg
{
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
}

aside.sidebarShowButton
{
  cursor: pointer;
  background-color: rgba(30, 24, 43, 0.5);
  transition: 0.5s;
}

aside.sidebarShowButton
{
  z-index: 3;
  position: absolute;
  left: 0;
  top: 15px;
  width: 30px;
  height: 30px;
}

aside.sidebarShowButton:hover
{
  background-color: rgb(30, 24, 42);
  transition: 0.5s;
}

aside.sidebarShowButton med-svg svg
{
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.no-extend
{
   object-fit: contain;
}

.cover
{
  object-fit: cover;
}

.height-200
{
  max-height: 200px;
  height: 200px;
}

.height-400
{
  max-height: 400px;
  height: 400px;
}

.height-500
{
  max-height: 500px;
  height: 500px;
}

.height-600
{
  max-height: 600px;
  height: 600px;
}

.text-on-img
{
  position: relative;
}

.text-on-img em, .text-on-img div.absolute
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.relative
{
  position: relative;
}

.brightness-50
{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
}

.brightness-75
{
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  -ms-filter: brightness(75%);
}

/* START MED ANIMATION */

#first-img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#second-img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* END MED ANIMATION */


/* MEDIA QUERIES */
@media screen and (max-width: 970px)

{
    nav.navbar img.navbarLogo
    {
      visibility: hidden;
    }

    nav.navbar
    {
      justify-content: center;
    }
}

@media screen and (max-width: 551px)
{
  nav.navbar
  {
    justify-content: space-around;
  }

  nav.navbar a.navbarTab
  {
    width: 60px;
  }
}

@media screen and (max-width: 640px)
{
  .height-600, .height-500, .height-400, .height-200
  {
    max-height: 300px;
  }

  .info-container, #school, #work
  {
    width: calc(100vw - 15px) !important;
    min-width: 0px;
  }

  med-project-sidebar
  {
    display: none;
  }

  .infoBloc
  {
    width: calc(100vw - 15px) !important;
  }

  .projectDataContainer
  {
    flex-direction: column !important;
  }

  .text-left, .text-right
  {
    text-align: center !important;
  }
}

/* END OF MEDIA QUERIES */
