/* violet : rgb(30, 24, 43) */
/* cyan: rgb(0, 128, 128) */

@font-face
{
  font-family: futura;
  src: url("./fonts/futura.ttf");
}

*:focus
{
  outline: 0px;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
  cursor: normal;
}

a
{
  color: inherit;
  text-decoration: none;
}

imgparseFromJsonObject
{
  -webkit-user-drag: none;
}

html
{
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body
{
  margin: 0px;
  background-image: url("./images/wallpaper.png");
  background-repeat: repeat;
  overflow: hidden;
}

h2, h5
{
  margin-top: 0;
  margin-bottom: 3vh;
  -webkit-margin-before: 0;
  -webkit-margin-after: 3vh;
}

h3
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 4vh;
}

h1, p, em, h2, h5
{
  cursor: default;
}

h5
{
  font-size: 5vh;
}

h1
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

sub
{
  font-size: 2vh;
}

em
{
  font-size: 6vmin;
}

form
{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  font-family: futura;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

fieldset
{
  border: 0px;
}

fieldset span
{
  font-size: 3vh;
}

img.imgOnLoad
{
  animation: opacityOnLoad 5s;
}

/* NAVBAR */

nav.navbar
{
  z-index: 2;
  font-family: futura;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  color: white;
  height: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: rgb(30, 24, 43);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  transition: 0.5s;
}

nav.navbar.ng-hide
{
  transition: 0.5s;
  transform: translate(0, -80px);
}

nav.navbar img.navbarLogo
{
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 50px;
  height: 100px;
  width: 200px;
  animation: bounce 1s ease;
}

nav.navbar a.navbarTab img.navPicture
{
  margin-top: 2px;
  height: 40px;
  width: 40px;
}


nav.navbar a.navbarTab med-svg.navPicture svg
{
  transition-duration: 0.5s;
  margin-top: 2px;
  height: 40px;
  width: 40px;
  fill: white;
}

nav.navbar a.navbarTab
{
  cursor: pointer;
  transition: 0.5s;
  vertical-align: top;
  width: 130px;
  text-align: center;
  height: 80px;
  transition: 1s;
  visibility: visible;
}

nav.navbar a.languageTab
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav.navbar a.languageTab span
{
  cursor: pointer;
}

a.navbarTab.ng-hide-remove
{
  -webkit-transform: translate(-500%, 0);
  -moz-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  -o-transform: translate(-500%, 0);
  transform: translate(-500%, 0);
  opacity: 0;
}

a.navbarTab.ng-hide-add.ng-hide-add-active
{
  -webkit-transform: translate(-500%, 0);
  -moz-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  -o-transform: translate(-500%, 0);
  transform: translate(-500%, 0);
  opacity: 0;
}

nav.navbar div.navbarTabOption
{
  vertical-align: top;
  text-align: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  height: 80px;
}

div.navPictureLittle
{
  cursor: pointer;
  transition-duration: 0.5s;
  width: 30px;
  height: 30px;
}

div.navPictureLittle svg
{
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;
  fill: white;
}

nav.navbar a.navbarTab:hover, div.navPictureLittle:hover
{
  background-color: rgb(0, 128, 128);
  color: rgb(30, 24, 43);
}

nav.navbar a.navbarTab:hover med-svg.navPicture svg, div.navPictureLittle:hover svg
{
  fill: rgb(30, 24, 43);
}

aside.navPictureShow
{
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(30, 24, 43, 0.5);
}

/* END NAVBAR */

/* START BROWSER INFO */

aside#browserInfo
{
  z-index: 3;
  position: absolute;
  top: 80px;
  right: 0;
  width: 400px;
  height: 200px;
  margin: 1%;
  background-color: rgb(0, 128, 128);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(30, 24, 43);
  transition: 0.5;
}

aside#browserInfo med-svg
{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  fill: rgb(30, 24, 43);
}

aside#browserInfo med-svg svg
{
  width: 30px;
  height: 50px;
}

aside#browserInfo div
{
  position: relative;
  width: 100%;
  height: 100%;
}

aside#browserInfo div span
{
  color: white;
  font-weight: bold;
  font-size: 32px;
  font-family: futura;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* END BROWSER INFO */

/* START CONTAINER WITH NAVBAR */

div.containerWithNavbar.ng-enter-active
{
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  transition: 0.5s ease-in-out all;
}

div.containerWithNavbar.ng-leave-active
{
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  transition: 0.5s ease-in-out all;
}

div.containerWithNavbar
{
  position: relative;
  overflow: hidden;
  height: calc(100vh - 80px);
  transition: 0.5s;
}

div.containerWithoutNavbar
{
  z-index: 0;
  position: absolute;
  overflow: hidden;
  top: 80px;
  width: 100%;
  height: 100vh;
  -webkit-transform: translate(0, -80px);
  -moz-transform: translate(0, -80px);
  -ms-transform: translate(0, -80px);
  -o-transform: translate(0, -80px);
  transform: translate(0, -80px);
  transition: 0.3s;
}

/* END CONTAINERWITHNAVBAR */

/* START ARTICLE */

article
{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  -webkit-transition: 1s ease-in-out all !important;
  -moz-transition: 1s ease-in-out all !important;
  -o-transition: 1s ease-in-out all !important;
  transition: 1s ease-in-out all !important;
}

article h1
{
  margin: 0;
  text-transform: uppercase;
  font-size: 124px;
  color: rgb(121, 43, 101);
  font-family: futura;
}

article section
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*article section div
{
  text-transform: uppercase;
  font-size: 64px;
  color: rgb(30, 24, 43);
  font-family: futura;
}*/

article.default
{
  left: 0 !important;
}

article.right
{
  left: 100% !important;
}

article.left
{
  left: -100% !important;
}

article.projects
{
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 31, 111, 0.8);
}

article.description
{
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 16, 94, 0.8);
}

article.presentation
{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(30, 0, 70, 0.8);
}

article.blog
{
  background-color: rgba(50, 0, 50, 0.8);
}

article.paper
{
  justify-content: space-around;
  background-color: rgba(35, 0, 35, 0.8);
}

article.paper med-html-insert.readable
{
  height: 90vh;
  width: 60vw;
  min-width: 500px;
  box-shadow: 12px 0 15px -4px rgba(100, 100, 100, 0.8), -12px 0 8px -4px rgba(100, 100, 100, 0.8);
  background-color: rgb(250, 250, 250);
  overflow: hidden;
  align-self: center;
}

article.paper med-html-insert.readable p
{
  font-weight: bold;
  font-family: 'Open sans', sans-serif;
  font-size: 26px;
}

.hobbies
{
  background-color: rgba(0, 50, 50, 0.8);
  flex-direction: column;
  justify-content: flex-start;
}

article.skill
{
  background-color: rgba(15, 0, 55, 0.8);
}

article.cursus
{
  flex-direction: row;
  background-color: rgba(0, 0, 40, 0.8);
}

article.cursus section
{
  flex-grow: 5;
}

article.cursus aside
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

article.contact
{
  flex-direction: column;
  background-color: rgba(25, 35, 24, 0.8);
}

.contactInput, #contactButton
{
  height: 10%
}

article.contact fieldset
{
  border: 0;
  width: calc(100% - 16vw);
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;
}

article.contact fieldset > *
{
  width: 100%;
}

#contactMsg
{
  overflow-y: scroll;
  height: 35%;
  /*flex-grow: 2;*/
}

article div.title
{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

div.title em
{
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-family: futura;
  font-size: 128px;
  color: white;
}

/* directive d'info bloc */

article div div.infoBloc
{
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 31%;
  min-width: 320px;
  height: 320px;
  transition: 1s;
}

article div div.infoBloc:focus
{
  border: 0px;
}

article div div.infoBloc.ng-enter
{
  opacity: 0;
  transform: rotate(90deg);
}

article div div.infoBloc.ng-enter-active
{
  opacity: 1;
  transform: rotate(-35deg);
}

article div div.infoBloc.ng-leave-active
{
  opacity: 0;
  transform: translate(0, 1000px) rotate(135deg);
}

article div.medInfoContainer
{
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  width: calc(90vw - 300px);
  flex-basis: calc(90vw - 300px);
  min-width: 640px;
}

article div div.infoBloc h1
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-family: futura;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px;
  width: 0%;
  padding-top: 20px;
  padding-left: 10px;
  color: rgb(0,128,128);
  -webkit-transition: 0.5s ease-in-out all;
  -moz-transition: 0.5s ease-in-out all;
  -o-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

article div div.infoBloc:hover h1.onePart
{
  -webkit-transform: translate(0, 4em);
  -moz-transform: translate(0, 4em);
  -ms-transform: translate(0, 4em);
  -o-transform: translate(0, 4em);
  transform: translate(0, 4em);
}

article div div.infoBloc:hover h1.twoPart
{
  -webkit-transform: translate(0, 2.7em);
  -moz-transform: translate(0, 2.7em);
  -ms-transform: translate(0, 2.7em);
  -o-transform: translate(0, 2.7em);
  transform: translate(0, 2.7em);
}

article div div.infoBloc:hover img
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

article div div.infoBloc img
{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.5s ease-in-out all;
  -moz-transition: 0.5s ease-in-out all;
  -o-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  }

 /* END ARTICLE */

#indexUI
{
  overflow: hidden;
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 2;
  width: 100%;
  justify-content: center;
  visibility: visible;
}

.indexCircle
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition-property: background-color | color;
  transition-duration: 0.5s;
  background-position: center;
  background-size: 30px;
  background-color: rgba(161, 4, 59, 0.8);
}

.indexCircleActive
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition-property: background-color | color;
  transition-duration: 1s;
  background-position: center;
  background-size: 30px;
}

.indexCircle:hover, .indexCircleActive:hover, .indexCircleActive
{
  background-color: rgb(0,128,128);
}

img.rotateOnHover
{
  transition: 1.5s ease-in-out;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

img.rotateOnHoverReverse
{
  transition: 1.5s ease-in-out;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

med-project-sidebar
{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 300px;
  min-height: 640px;
}

med-project-sidebar div.buttonContainer
{
  display: flex;
  height: 50px;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

med-project-sidebar div.buttonContainer med-svg
{
  border-left: 1px solid black;
}


med-project-sidebar div.buttonContainer med-svg svg
{
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 5px;
  width: 45px;
  height: 35px;
}

med-project-sidebar form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

med-range-selector, med-switch-selector, med-range
{
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

med-range-selector med-svg-in-range-selector, med-switch-selector med-svg-in-switch-selector, med-range med-svg-in-range
{
  margin-right: 7px;
  margin-left: 7px;
  width: 50px;
  height: 50px;
}

med-switch-selector med-svg-in-switch-selector
{
  border: 2px solid rgba(0, 0, 0, 0);
}

med-range-selector med-svg-in-range-selector svg, med-switch-selector med-svg-in-switch-selector svg, med-range med-svg-in-range svg
{
  width: 100%;
  height: 100%;
}

med-project-sidebar
{
  z-index: 2;
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 32px;
}

.noBorder
{
  font-size: 5vh;
  border: 0;
}

/* KEYFRAMES */

@keyframes bounce
{
  from {top: -300px;}
  50% {top: -150px;}
  to {top: 0px;}
}


@keyframes opacityOnLoad
{
  from {opacity: 0;}
  to {opacity: 1;}
}

.fromLeft
{
  animation: fromLeft 1.5s;
}

@keyframes fromLeft
{
  from {margin-left: 300%; opacity: 0;}
  to {margin-left: inherit; opacity: 1;}
}

.fromRight
{
  animation: fromRight 1.5s;
}

@keyframes fromRight
{
  from {margin-left: -300%; opacity: 0;}
  to {margin-left: inherit; opacity: 1;}
}

.fromTop
{
  animation: fromTop 1.5s;
}

@keyframes fromTop
{
  from {margin-top: 300%; opacity: 0;}
  to {margin-top: inherit; opacity: 1;}
}

.fromBot
{
  animation: fromBot 1.5s;
}

@keyframes fromBot
{
  from {margin-top: -300%; opacity: 0;}
  to {margin-top: inherit; opacity: 1;}
}

.translateEffect
{
  animation: translateEffect 5s;
}

@keyframes translateEffect
{
  from {transform: translate(0px, 0px); opacity: 1;}
  60% {transform: translate(200px, 0px); opacity: 0;}
  to {transform: translate(0px, 0px); opacity: 1;}

}

/* END OF KEYFRAMES */

form.sidebarForm
{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 96%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
}

form.sidebarFormHidden
{
  transition: 0.5s ease-in-out;

}


div.projectPresentation
{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

div.projectPresentation section.projectSummaryContainer
{
  flex-grow: 2;
  min-width: 500px;
  min-height: 98%;
  display: flex;
  justify-content: flex-start;
  text-align: right;
  margin: 0.5%;
}

div.projectPresentation section.projectDataContainer
{
  flex-grow: 1;
  min-width: 500px;
  min-height: 98%;
  display: flex;
  flex-direction: column;
  margin: 0.5%;
}

span.projectLanguage
{
  position: absolute;
  bottom: 0;
  right: 5px;
}

img.imgContainer
{
  flex-grow: 2;
}

aside.UI
{
  flex-grow: 1;
  font-size: 36px;
}

aside.UI > *
{
  text-align: right;
}

.infoContainer
{
  flex-grow: 1;
  margin: 0.5%;
  width: 24vw;
  max-width: 80vw;
  min-height: 98%;
}

.like
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.cv
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.names
{
  flex-grow: 1;
  width: 100%;
}

.years
{
  flex-grow: 2;
  width: 100%;
  text-align: right;
}

.dev
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.studient
{
  width: 100%;
  flex-grow: 1;
}

.photoContainer
{
  flex-grow: 1;
  margin: 0.5%;
  width: 48%;
  height: 97%;
  background-position: center;
  background-size: contain;
  background-image: url("./images/mehdi.jpg");
  background-repeat: no-repeat;
  min-width: 578px;
}

.msg
{
  width: 100%;
  flex-grow: 2;
}

.aboutWebsite
{
  width: 100%;
  flex-grow: 1;
}

.highlighted
{
  background-color: rgb(30, 24, 43);
}

.underline
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(0,128,128);
}

.bloc, .sidebarBloc
{
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  background-color: rgb(30, 24, 43);
  font-family: futura;
  color: white;
}

.bloc, .downloadBloc
{
  margin: 1%;
}

.downloadBloc
{
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  background-color: rgb(0, 128, 128);
  font-family: futura;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(30, 24, 43);
  transition: 0.5s;
}

.downloadBloc:hover
{
  transition: 0.5s;
  color: rgb(0, 128, 128);
  background-color: rgb(30, 24, 43);
  border-bottom: 5px solid rgb(0, 128, 128);
}

.downloadBloc:hover .keyword, .downloadBloc:hover .keyword2
{
  transition: 0.5s;
  color: rgb(0, 128, 128);
}

.downloadBloc *
{
  cursor: pointer;
}

.sidebarBloc
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 98%;
  margin: 1%;
s}

.sidebarBloc > *
{
  margin-bottom: 5px;
}

div.bloc.picture
{
  transition: 1s;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.bloc.picture med-svg
{
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
}

div.bloc.picture med-svg svg
{
  transition: 1s;
  height: 60%;
  width: auto;
}

div.bloc div.comments
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-family: futura;
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-color: rgb(0, 128, 128);
  visibility: hidden;
  top: -100%;
  transition: 0.5s;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
}

div.bloc div.comments p
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 10%;
  text-transform: uppercase;
  height: auto;
  width: auto;
}

div.bloc:hover div.comments
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 128, 128);
  visibility: visible;
  top: 0;
  transition: 0.5s;
}

div.bloc.picture:hover
{
  transition: 1s;
  border-bottom: 5px solid rgb(0, 200, 200);
}

div.bloc.picture:hover med-svg svg, div.bloc div.comments:hover + med-svg svg
{
  transition: 1s;
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
  -o-filter: brightness(2);
  -ms-filter: brightness(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

aside.inSkill
{
  font-size: 3vh;
  margin-top: 3%;
  height: 15%;
}

aside.rangePercentageContainer
{
  font-weight: bold;
  font-family: futura;
  background-color: rgb(30, 24, 43);
  max-height: 75px;
}

aside.rangePercentageContainer span
{
  text-transform: uppercase;
}

aside.rangePercentageContainer span.skillInRange
{
  margin-left: 10px;
  float: left;
}

aside.rangePercentageContainer span.percentageInRange
{
  margin-right: 10px;
  float: right;
}

aside.rangePercentageContainer div.rangePercentage
{
  position: absolute;
  height: 5px;
  bottom: 0px;

}

aside.rangePercentageContainer div.rangePercentage.skill
{
  background-color: rgb(0, 128, 128);
}

aside.rangePercentageContainer div.rangePercentage.love
{
  background-color: rgb(128, 0, 0);
}

aside.rangePercentageContainer div.rangePercentage.numberPerson
{
  background-color: rgb(0, 100, 0);
}

aside.rangePercentageContainer div.rangePercentage.time
{
  background-color: rgb(50, 50, 50);
}

.bloc em, .downloadBloc em
{
  font-style: normal;
  margin: 3%;
}

.skillBloc
{
  margin: 1%;
  flex-grow: 1;
  width: calc(25vw - 2%);
  min-width: 325px;
  height: 37vh;
}

.keyword
{
  color: rgb(0,128,128);
}

.keyword2
{
  color: rgb(30, 24, 43);
}

.epitech
{
  cursor: pointer;
  color: rgb(100, 149, 237);
}

.topic div, .difficulties div, .debriefing div
{
  position: absolute;
  right: 0;
}

.topic
{
  position: relative;
  flex-grow: 4;
  font-size: 32px;
}

.difficulties, .debriefing
{
  flex-grow: 1;
  font-size: 32px;
}


.onRemove
{
  opacity: 1;
  transition: 0.3s ease-in-out;
  margin-left: 0;
}


fieldset div.lifeInfo
{
  color: white;
}

section#school fieldset div.lifeInfo
{
  font-size: 5vh;
}

section#work fieldset div.lifeInfo
{
  font-size: 3vh;
}

.grow
{
  flex-grow: 2;
}

section#school
{
  text-align: right;
}

section#work
{
  text-align: left;
}

med-word-switch
{
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.inputName
{
  position: relative;
  z-index: 1;
}

aside.sidebarHideButton
{
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}

aside.sidebarHideButton med-svg svg
{
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
}

aside.sidebarShowButton
{
  background-color: rgba(30, 24, 43, 0.5);
  transition: 0.5s;
}

aside.sidebarShowButton
{
  z-index: 3;
  position: absolute;
  left: 0;
  top: 15px;
  width: 30px;
  height: 30px;
}

aside.sidebarShowButton:hover
{
  background-color: rgb(30, 24, 42);
  transition: 0.5s;
}

aside.sidebarShowButton med-svg svg
{
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

/* BLOG */

article.blog .flashback
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(128, 0 ,0);
}

article.blog .actu
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(0,128,0);
}

article.blog .thought
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(0,0,128);
}

article.blog div.bloc
{
  width: 31.3vw;
  height: 40vh;
  min-width: 300px;
  min-height: 250px;
  transition: 1s;
}

article.blog div.bloc:hover
{
  transition: 1s;
  background-color: rgba(30, 24, 43, 0.5);
}

article.blog div.bloc h3
{
  color: rgb(0, 128, 128);
  font-size: 64px;
}

article.paper med-html-insert h4
{
  font-family: futura;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

article.paper med-html-insert h3
{
  font-family: futura;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  text-transform: uppercase;
  color: rgb(0, 128, 128);
  font-size: 64px;
}

/* END BLOG */



/* MEDIA QUERIES */
@media screen and (max-width: 970px)

{
    nav.navbar img.navbarLogo
    {
      visibility: hidden;
    }

    nav.navbar
    {
      justify-content: center;
    }
}

@media screen and (max-width: 551px)
{
  nav.navbar
  {
    justify-content: space-around;
    font-size: 18px;
  }

  nav.navbar a.navbarTab
  {
    width: 60px;
  }
}

@media screen and (max-width: 640px)
{
  article div.medInfoContainer
  {
    min-width: 99%;
    max-width: 99%;
  }
}

@media screen and (max-width: 500px)
{
  div.projectPresentation section.projectSummaryContainer, div.projectPresentation section.projectDataContainer, article.paper med-html-insert.readable
  {
    min-width: 99%;
    max-width: 99%;
  }
}

/* END OF MEDIA QUERIES */
