/* violet : rgb(40, 34, 53) */
/* cyan: rgb(0, 128, 128) */

@font-face
{
  font-family: futura;
  src: url("./fonts/futura.ttf");
}

*:focus
{
  outline: 0px;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
  cursor: normal;
}

a
{
  color: inherit;
  text-decoration: none;
}

imgparseFromJsonObject
{
  -webkit-user-drag: none;
}

html
{
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body
{
  margin: 0px;
  background-image: url("../images/wallpaper.png");
  background-repeat: repeat;
  overflow: hidden;
}

h2, h5
{
  margin-top: 0;
  margin-bottom: 3vh;
  -webkit-margin-before: 0;
  -webkit-margin-after: 3vh;
}

h3
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 4vh;
}

h1, p, em, h2, h5
{
  cursor: default;
}

h5
{
  margin-bottom: auto;
  font-size: 5vh;
}

h1
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

sub
{
  font-size: 2vh;
}

em
{
  font-size: 6vmin;
}

form
{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

fieldset
{
  border: 0px;
}

fieldset span
{
  font-size: 3vh;
}

::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: rgba(161, 4, 59, 0.8);
  outline: 1px solid;
}

img.imgOnLoad
{
  animation: opacityOnLoad 5s;
}

/* NAVBAR */

nav.navbar
{
  z-index: 2;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 2.3vmin;
  text-transform: uppercase;
  color: white;
  height: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: rgb(40, 34, 53);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 5);
  transition: 1s ease-in-out;
  height: 8vh;
}

nav.navbar.ng-hide
{
  transition: 1s ease-in-out;
  transform: translate(0, -80px);
}

nav.navbar img.navbarLogo
{
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 50px;
  height: 100px;
  width: 200px;
  animation: bounce 1s ease;
}

nav.navbar a.navbarTab img.navPicture
{
  margin-top: 2px;
  height: 50%;
  fill: white;
}

med-svg.navPicture svg
{
  transition-duration: 0.5s;
  margin-top: 2px;
  height: 50%;
  width: 100%;
  fill: white;
}

nav.navbar a.navbarTab
{
  cursor: pointer;
  transition: 0.5s;
  vertical-align: top;
  width: 7vw;
  text-align: center;
  height: 100%;
  transition: 1s;
  visibility: visible;
}

a.navbarTab.ng-hide-remove
{
  -webkit-transform: translate(-500%, 0);
  -moz-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  -o-transform: translate(-500%, 0);
  transform: translate(-500%, 0);
  opacity: 0;
}

a.navbarTab.ng-hide-add.ng-hide-add-active
{
  -webkit-transform: translate(-500%, 0);
  -moz-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  -o-transform: translate(-500%, 0);
  transform: translate(-500%, 0);
  opacity: 0;
}

nav.navbar div.navbarTabOption
{
  vertical-align: top;
  text-align: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2vw;
  height: 100%;
}

div.navPictureLittle
{
  cursor: pointer;
  transition-duration: 0.5s;
  width: 100%;
  height: 40%;
}

.big
{
   height: 100% !important;
}

div.navPictureLittle svg
{
   width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  fill: white;
}

nav.navbar a.navbarTab:hover, div.navPictureLittle:hover
{
  background-color: rgb(0, 128, 128);
  color: rgb(40, 34, 53);
}

nav.navbar a.navbarTab:hover med-svg.navPicture svg, div.navPictureLittle:hover svg
{
  fill: rgb(40, 34, 53);
}

aside.navPictureShow
{
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(30, 24, 43, 0.5);
}

/* END NAVBAR */

/* START BROWSER INFO */

aside#browserInfo
{
  display: none;
  z-index: 3;
  position: absolute;
  top: 80px;
  right: 0;
  width: 400px;
  height: 200px;
  margin: 1%;
  background-color: rgb(0, 128, 128);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(40, 34, 53);
  opacity: 0.8;
}

aside#browserInfo med-svg
{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  fill: rgb(40, 34, 53);
}

aside#browserInfo med-svg svg
{
  width: 30px;
  height: 50px;
}

aside#browserInfo div
{
  position: relative;
  width: 100%;
  height: 100%;
}

aside#browserInfo div span
{
  color: white;
  font-weight: bold;
  font-size: 32px;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* END BROWSER INFO */

/* START CONTAINER WITH NAVBAR */


div.containerWithNavbar.ng-enter-active, div.containerWithNavbar.ng-enter
{
  -webkit-transform: translate(-100vw, 0);
  -moz-transform: translate(-100vw, 0);
  -ms-transform: translate(-100vw, 0);
  -o-transform: translate(-100vw, 0);
  transform: translate(-100vw, 0);
  transition: 0.7s ease-in-out all;
}

div.containerWithNavbar.ng-leave-active
{
  -webkit-transform: translate(100vw, 0);
  -moz-transform: translate(100vw, 0);
  -ms-transform: translate(100vw, 0);
  -o-transform: translate(100vw, 0);
  transform: translate(100vw, 0);
  transition: 0.7s ease-in-out all;
}

div.containerWithNavbar
{
  position: relative;
  overflow: hidden;
  height: calc(100vh - 8vh);
  width: 100vw;
  transition: 1s ease-in-out;
}

div.containerWithoutNavbar
{
  z-index: 0;
  position: absolute;
  top: 8vh;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate(0, -80px);
  -moz-transform: translate(0, -80px);
  -ms-transform: translate(0, -80px);
  -o-transform: translate(0, -80px);
  transform: translate(0, -80px);
  transition: 1s ease-in-out;
}

/* END CONTAINERWITHNAVBAR */

/* START ARTICLE */

article
{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  -webkit-transition: 0.7s ease-in-out all !important;
  -moz-transition: 0.7s ease-in-out all !important;
  -o-transition: 0.7s ease-in-out all !important;
  transition: 0.7s ease-in-out all !important;
}

article h1
{
  margin: 0;
  text-transform: uppercase;
  font-size: 124px;
  color: rgb(121, 43, 101);
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
}

article section
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article.default
{
  transform: translate(0, 0);
}

article.right
{
  transform: translate(100%, 0);
}

article.left
{
  transform: translate(-100%, 0);
}

article.projects, article.description
{
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
}

article.presentation
{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hobbies
{
  flex-direction: column;
  justify-content: flex-start;
}

article.cursus
{
  flex-direction: row;
}

article.cursus section
{
  flex-grow: 5;
}

article.cursus aside
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

article div.title
{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

div.title em
{
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-size: 128px;
  color: white;
}

/* directive d'info bloc */

article div div.infoBloc
{
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 25vw;
  height: 320px;
  transition: 0.5s !important;
}

article div div.infoBloc:focus
{
  border: 0px;
}

article div div.infoBloc.ng-enter, article div div.infoBloc.ng-enter-active
{
  opacity: 1;
}

article div div.infoBloc.ng-leave-active
{
  opacity: 0 !important;
}

article div.medInfoContainer
{
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  width: calc(90vw - 300px);
  flex-basis: calc(90vw - 300px);
  min-width: 640px;
}

article.skill
{
  padding-top: 1%;
}

article div div.infoBloc h1
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px;
  width: 0%;
  padding-top: 20px;
  padding-left: 10px;
  color: rgb(0,128,128);
}

#project-name h1
{
   justify-content: center;
   text-align: center;
   z-index: 2;
   position: absolute;
   left: 0;
    right: 0;
    top: calc(250px - 50px);
    bottom: 0;
    margin: auto auto;
   font-family: futura, "Comic Sans MS", cursive, sans-serif;
   font-weight: bold;
   font-size: 100px;
   text-transform: uppercase;
   color: rgb(0,128,128);
}

article div div.infoBloc:hover img
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

article div div.infoBloc img
{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.5s ease-in-out all;
  -moz-transition: 0.5s ease-in-out all;
  -o-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

 /* END ARTICLE */

#indexUI
{
  overflow: hidden;
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 2;
  width: 100%;
  justify-content: center;
  visibility: visible;
}

.indexCircle
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition-property: background-color | color;
  transition-duration: 0.5s;
  background-position: center;
  background-size: 30px;
  background-color: rgba(161, 4, 59, 0.8);
}

.indexCircleActive
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition-property: background-color | color;
  transition-duration: 1s;
  background-position: center;
  background-size: 30px;
}

.indexCircle:hover, .indexCircleActive:hover, .indexCircleActive
{
  background-color: rgb(0,128,128);
}

img.rotateOnHover
{
  transition: 1.5s ease-in-out;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

img.rotateOnHoverReverse
{
  transition: 1.5s ease-in-out;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

med-project-sidebar
{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 300px;
  min-height: 640px;
  transition: 0.5s ease-in-out;
}

med-project-sidebar.ng-hide
{
  transform: translate(-100%, 0);
  transition: 0.5s ease-in-out;
}

med-project-sidebar div.buttonContainer
{
  display: flex;
  height: 50px;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

med-project-sidebar div.buttonContainer med-svg
{
  border-left: 1px solid black;
}


med-project-sidebar div.buttonContainer med-svg svg
{
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 5px;
  width: 45px;
  height: 35px;
}

med-project-sidebar form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

med-range-selector, med-switch-selector, med-range
{
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

med-range-selector med-svg-in-range-selector, med-switch-selector med-svg-in-switch-selector, med-range med-svg-in-range
{
  margin-right: 7px;
  margin-left: 7px;
  width: 40px;
  height: 40px;
}

med-switch-selector med-svg-in-switch-selector
{
  border: 2px solid rgba(0, 0, 0, 0);
}

med-range-selector med-svg-in-range-selector svg, med-switch-selector med-svg-in-switch-selector svg, med-range med-svg-in-range svg
{
  width: 100%;
  height: 100%;
}

med-project-sidebar
{
  z-index: 2;
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 32px;
}

.noBorder
{
  font-size: 5vh;
  border: 0;
}

/* KEYFRAMES */

@keyframes bounce
{
  from {top: -300px;}
  50% {top: -150px;}
  to {top: 0px;}
}

.opacityOnLoad
{
  animation: opacityOnLoad 1s;
}

@keyframes opacityOnLoad
{
  from {opacity: 0;}
  to {opacity: 1;}
}

.fromLeft
{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fromLeft 1.5s;
}

.fromRight
{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fromRight 1.5s;
}

.fromTop
{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fromTop 1.5s;
}

.fromBot
{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fromBot 1.5s;
}

.translateEffect
{  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: translateEffect 5s;
}

@keyframes translateEffect
{
  from {transform: translate(0px, 0px); opacity: 1;}
  60% {transform: translate(200px, 0px); opacity: 0;}
  to {transform: translate(0px, 0px); opacity: 1;}

}


form.sidebarForm
{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 96%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
}

med-project-sidebar
{
  transition: 0.5 ease-in-out;
}

div.projectPresentation
{
   overflow-y: auto;
  height: 100%;
  width: 100%;
}

#global-project
{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#project-name
{
   position: relative;
   height: 500px;
}

#project-img
{
   -webkit-filter: blur(5px);
   filter: blur(5px);
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#project-info
{
   min-height: calc(100vh - 400px);
   display: flex;
   flex-direction: row;
   flex-grow: 1;
}

.project-img-preview
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

div.projectPresentation section.projectSummaryContainer
{
  flex-grow: 2;
  min-width: 500px;
  min-height: 98%;
  display: flex;
  justify-content: flex-start;
  text-align: right;
  margin: 0.5%;
}

div.projectPresentation section.projectDataContainer
{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

span.projectLanguage
{
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 5px;
}

aside.UI
{
  flex-grow: 1;
  font-size: 36px;
}

.infoContainer
{
  flex-grow: 1;
  margin: 0.12%;
  width: 24vw;
  min-width: 400px;
  max-width: 80vw;
  min-height: 97%;
}

.like
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.cv
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.contact
{
  width: 100%;
  flex-grow: 1;
  text-align: left;
}

.names
{
  flex-grow: 1;
  width: 100%;
}

.years
{
  flex-grow: 2;
  width: 100%;
  text-align: right;
}

.dev
{
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.studient
{
  width: 100%;
  flex-grow: 1;
}

.photoContainer
{
   display: flex;
   flex-direction: column;
   max-height: 50vh;
   text-align: center;
}

.photo
{
   width: 100%;
   align-self: center;
   object-fit: cover;
}

.msg
{
  width: 100%;
  flex-grow: 2;
}

.aboutWebsite
{
  width: 100%;
  flex-grow: 1;
}

.highlighted
{
  background-color: rgb(40, 34, 53);
}

.underline
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 4px solid rgba(0,128,128, 0.8);
}

.bloc, .sidebarBloc, .bloc-no-margin
{
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  background-color: rgb(40, 34, 53);
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  color: white;
}

.bloc, .downloadBloc
{
  margin: 0.25%;
}

.downloadBloc
{
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  background-color: rgb(0, 128, 128);
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(40, 34, 53);
  transition: 0.5s;
}

.downloadBloc:hover
{
  transition: 0.5s;
  color: rgb(0, 128, 128);
  background-color: rgb(40, 34, 53);
  border-bottom: 5px solid rgb(0, 128, 128);
}

.downloadBloc:hover .keyword, .downloadBloc:hover .keyword2
{
  transition: 0.5s;
  color: rgb(0, 128, 128);
}

.downloadBloc *
{
  cursor: pointer;
}

.sidebarBloc
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 98%;
  margin: 1%;
}

.sidebarBloc > *
{
  margin-bottom: 5px;
}

div.bloc.picture
{
  transition: 1s;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.bloc.picture med-svg, div.bloc.picture img
{
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
}

div.bloc.picture med-svg svg, div.bloc.picture img
{
  transition: 1s;
  height: 60%;
  width: auto;
}

div.bloc div.comments
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 128, 128, 0.95);
  visibility: hidden;
  transform : translate(0, -100%);
  transition: 0.1s ease-in-out;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 3);
}

div.bloc div.comments p
{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  cursor: pointer;
  margin: 10%;
  text-transform: uppercase;
  height: auto;
  width: auto;
}

div.bloc:hover div.comments
{
  cursor: pointer;
  visibility: visible;
  transform: translate(0, 0);
  transition: 0.5s;
}

div.bloc.picture:hover
{
  transition: 1s;
  border-bottom: 5px solid rgb(0, 200, 200);
}

aside.inSkill
{
  font-size: 3vh;
  margin-top: 1.5%;
  height: 15%;
}

aside.projectName
{
  text-align: left;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(40, 34, 53);
  max-height: 150px;
}

aside.rangePercentageContainer
{
  font-weight: bold;
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(40, 34, 53);
  max-height: 75px;
}

aside.rangePercentageContainer span
{
  text-transform: uppercase;
}

aside.rangePercentageContainer span.skillInRange
{
  margin-left: 10px;
  float: left;
}

aside.rangePercentageContainer span.percentageInRange
{
  margin-right: 10px;
  float: right;
}

aside.rangePercentageContainer div.rangePercentage
{
  position: absolute;
  height: 5px;
  bottom: 0px;
  width: 0px;
  transition: 2s ease-in-out all;
}

aside.rangePercentageContainer div.rangePercentage.skill
{
  background-color: rgb(255,215,0);
}

aside.rangePercentageContainer div.rangePercentage.love
{
  background-color: rgb(128, 0, 0);
}

aside.rangePercentageContainer div.rangePercentage.numberPerson
{
  background-color: rgb(0, 100, 0);
}

aside.rangePercentageContainer div.rangePercentage.time
{
  background-color: rgb(255, 255, 255);
}

.bloc em, .downloadBloc em
{
  font-style: normal;
}

.skillBloc
{
  flex-grow: 1;
  width: calc(20vw - 2% - 1em);
  min-width: 300px;
  height: 37vh;
  animation: opacityOnLoad 1s;
}

.skillBloc .picture {
  cursor: pointer;
}

.keyword
{
  color: rgb(0,128,128);
}

.keyword2
{
  color: rgb(40, 34, 53);
}

.epitech
{
  cursor: pointer;
  color: rgb(100, 149, 237);
}

.topic, .difficulties, .debriefing, .projectDataContainer aside
{
  flex-grow: 1;
  font-size: 3.5vmin;
}

.onRemove
{
  opacity: 1;
  transition: 0.3s ease-in-out;
  margin-left: 0;
}


fieldset div.lifeInfo
{
  color: white;
}

section#school fieldset div.lifeInfo
{
  font-size: 5vh;
}

section#work fieldset div.lifeInfo
{
  font-size: 3vh;
}

.grow
{
  flex-grow: 2;
}

section#school
{
  text-align: right;
}

section#work
{
  text-align: left;
}

med-word-switch
{
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.inputName
{
  position: relative;
  z-index: 1;
}

aside.sidebarHideButton
{
   cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}

aside.sidebarHideButton med-svg svg
{
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
}

aside.sidebarShowButton
{
  cursor: pointer;
  background-color: rgba(30, 24, 43, 0.5);
  transition: 0.5s;
}

aside.sidebarShowButton
{
  z-index: 3;
  position: absolute;
  left: 0;
  top: 15px;
  width: 30px;
  height: 30px;
}

aside.sidebarShowButton:hover
{
  background-color: rgb(30, 24, 42);
  transition: 0.5s;
}

aside.sidebarShowButton med-svg svg
{
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

/* BLOG */

article.blog .flashback
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(128, 0 ,0);
}

article.blog .actu
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(0,128,0);
}

article.blog .thought
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(0,0,128);
}

article.blog div.bloc
{
  width: 31.3vw;
  height: 40vh;
  min-width: 300px;
  min-height: 250px;
  transition: 1s;
}

article.blog div.bloc:hover
{
  cursor: pointer;
  transition: 1s;
  background-color: rgba(30, 84, 93, 1);
}

article.blog div.bloc h3
{
  color: rgb(0, 128, 128);
  font-size: 64px;
}

article.paper med-html-insert h4
{
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

article.paper med-html-insert h3
{
  font-family: futura, "Comic Sans MS", cursive, sans-serif;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  text-transform: uppercase;
  color: rgb(0, 128, 128);
  font-size: 64px;
}

/* END BLOG */

#game
{
  position: relative;
  margin-top: 50px;
  height: 400px;
}

#player
{
  z-index: 3;
  position: relative;
  margin-top: 100px;
  width: 20%;
  height: 40%;
}

#player img
{
  position: absolute;
  left: 0;
  right: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#hitbox
{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#tail
{
  /*background-color: red;*/
  position: absolute;
  top: 36%;
  width: 40%;
  height: 25%;
  left: 15%;
}

#body
{
  /*background-color: yellow;*/
  position: absolute;
  top: 50%;
  width: 20%;
  height: 18%;
  left: 51%;
}

#legs
{
  /*background-color: green;*/
  position: absolute;
  top: 60%;
  width: 18%;
  height: 28%;
  left: 33%;
}

#hands
{
  /*background-color: pink;*/
  position: absolute;
  top: 60%;
  width: 13%;
  height: 28%;
  left: 62%;
}

#head
{
  /*background-color: pink;*/
  position: absolute;
  top: 18%;
  width: 33%;
  height: 34%;
  left: 52%;
}

.no-extend
{
   object-fit: contain;
}

#btn-play
{
  z-index: 2;
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
}

#game-wallpaper
{
  position: absolute;
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 970px)

{
    nav.navbar img.navbarLogo
    {
      visibility: hidden;
    }

    nav.navbar
    {
      justify-content: center;
    }
}

@media screen and (max-width: 551px)
{
  nav.navbar
  {
    justify-content: space-around;
    font-size: 18px;
  }

  nav.navbar a.navbarTab
  {
    width: 60px;
  }
}

@media screen and (max-width: 640px)
{
  article div.medInfoContainer
  {
    min-width: 99%;
    max-width: 99%;
  }
}

@media screen and (max-width: 500px)
{
  div.projectPresentation section.projectSummaryContainer, div.projectPresentation section.projectDataContainer, article.paper med-html-insert.readable
  {
    min-width: 99%;
    max-width: 99%;
  }
}

/* END OF MEDIA QUERIES */
