<article class="presentation default" med-scroll-on-swipe="both" med-lazy-load="getGesturesAndHobbies()">
  <section class="info-container">
    <div class="bloc text-right underline text-on-img height-600">
      <img class="place-img img-cover brightness-50" src="images/home/time.jpg" med-fade-on-load></img>
      <div class="absolute">
        <em><span class="keyword">{{years}}</span> {{'me.me.years' | translate}} <span class="keyword">&&</span><br /><span class="keyword">{{hours}}</span> {{'me.me.hours' | translate}} <span class="keyword">&&</span><br /> <span class="keyword">{{seconds}}</span> {{'me.me.secondes' | translate}}</em>
      </div>
    </div>
    <div class="bloc text-right underline text-on-img height-400">
      <em class="keyword">{{'me.me.Ilike' | translate}}</em>
      <med-image-switch class="img-cover img-switch" imgs="hobbies" delay="3000" path="./images/hobbies/" extension="jpg"></med-image-switch>
    </div>
    <div class="bloc text-right underline text-on-img height-400">
      <img class="place-img img-cover brightness-50" src="./images/home/joconde.jpg" med-fade-on-load></img>
      <div class="absolute">
        <em><span ng-bind-html="'me.me.codingArt' | translate"></span></em>
      </div>
    </div>
  </section>
  <section class="info-container">
    <div class="bloc text-center underline text-on-img height-600">
      <img class="place-img img-cover brightness-50" src="images/home/mehdi.jpg" med-fade-on-load></img>
      <div class="absolute">
          <em><span class="keyword">M</span>ehdi <span class="keyword">M</span>eddour<br />
      </div>
    </div>
    <div class="bloc text-center underline text-on-img height-200">
      <img class="place-img img-cover brightness-50" src="./images/home/dev.jpg" med-fade-on-load></img>
      <div class="absolute">
          <span ng-bind-html="'me.me.developper' | translate"></span></em>
      </div>
    </div>
    <a class="downloadBloc text-center underline text-on-img height-200" target="_self" href="resources/CV/CV_MEDDOUR_Mehdi.pdf" download="CV_MEDDOUR_Mehdi.pdf">
      <img class="place-img img-cover brightness-50" src="./images/home/cv.jpg" med-fade-on-load></img>
      <div class="absolute">
        <em class="keyword" ng-bind-html="'me.me.myResume' | translate"></em>
      </div>
    </a>
  </section>
  <section class="info-container">
    <div class="bloc text-left underline text-on-img height-400">
      <img class="place-img img-cover brightness-50" src="./images/home/marseille.jpg" med-fade-on-load></img>
      <div class="absolute">
        <em><span class="keyword">M</span>arseille</em>
      </div>
    </div>
    <div class="bloc text-left underline text-on-img height-400">
      <img class="place-img img-cover brightness-50" src="./images/cv/epitech.jpg" med-fade-on-load></img>
      <div class="absolute">
        <em>{{'me.me.currentSatus' | translate}} <span class="epitech"><a href="http://www.epitech.eu" target="_blank">{Epitech}</a></span>
        <span class="keyword"> &&</span><br />{{'me.me.currentWork' | translate}}</em>
      </div>
    </div>
    <div class="underline downloadBloc height-200" ng-click="doMailto()">
      <em>Email<br />mehdi.meddour@epitech.eu</em>
    </div>
  </section>
</article>
<article class="skill right" med-scroll-on-swipe="both" med-lazy-load="getSkill()">
  <div class="skillBloc marged-2" ng-repeat="language in skills track by $index">
    <div class="bloc picture underline" title="{{'me.skills.click' | translate}}" ng-click="showProjects(language.type)">
      <div class="comments">
        <p ng-bind-html="insertHTML(language.comments)"></p>
      </div>
      <img class="no-extend" ng-src="{{language.img}}" med-fade-on-load></img>
    </div>
    <aside class="bloc rangePercentageContainer inSkill">
      <span class="skillInRange"><span ng-bind-html="'me.skills.skill' | translate"></span></span>
      <span class="percentageInRange"><sup>{{language.percentage}}<sub class="keyword">%</sub></sup></span>
      <div class="rangePercentage skill" ng-style="{width: language.percentage + '%'}"></div>
    </aside>
    <aside class="bloc rangePercentageContainer inSkill">
      <span class="skillInRange"><span ng-bind-html="'me.skills.love' | translate"></span></span>
      <span class="percentageInRange"><sup>{{language.love}}<sub class="keyword">%</sub></sup></span>
      <div class="rangePercentage love" ng-style="{width: language.love + '%'}"></div>
    </aside>
  </div>
</article>
<article class="right" med-scroll-on-swipe="both" med-lazy-load="getCV()">
    <div id="school">
      <div ng-repeat="school in cv.schools" class="bloc underline opacityOnLoad text-on-img height-400">
        <img class="place-img img-cover brightness-50" ng-src="{{school.img}}" med-fade-on-load></img>
        <div class="absolute">
          <div class="text-right">
            <h5><span ng-show="school.thing">{{school.thing}} </span><span class="keyword">{{school.name}}<span></h5>
            <fieldset>
              <div class="lifeInfo"><span class="keyword">{{'me.experience.years' | translate}}:</span> {{school.year}}</div>
              <div class="lifeInfo"><span class="keyword">{{'me.experience.title' | translate}}:</span> {{school.title}}</div>
              <div class="lifeInfo"><span class="keyword">{{'projects.projectPreview.place' | translate}}:</span> {{school.place}}</div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div id="work">
      <div ng-repeat="work in cv.works" class="bloc underline opacityOnLoad text-on-img height-400">
        <img class="place-img img-cover brightness-50" ng-src="{{work.img}}" med-fade-on-load></img>
        <div class="absolute">
          <div class="text-left">
            <h5>{{work.thing}} <span class="keyword">{{work.name}}</span></h5>
            <fieldset>
              <div class="lifeInfo">
                <span class="keyword">{{'me.experience.years' | translate}}:</span> {{work.year}}
              </div>
              <div class="lifeInfo">
                <span class="keyword">{{'me.experience.duration' | translate}}:</span> {{work.length}}
              </div>
              <div class="lifeInfo">
                <span class="keyword">{{'me.experience.status' | translate}}:</span> {{work.job}}
              </div>
              <div class="lifeInfo">
                <span class="keyword">{{'projects.projectPreview.place' | translate}}:</span> {{work.place}}
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
</article>
