<aside class="navPictureShow" ng-hide="$parent.navbarIsHidden == false" ng-click="$parent.navbarIsHidden = !$parent.navbarIsHidden">
  <div class="navPictureLittle big">
    <med-svg src="./images/down.svg"></med-svg>
</aside>
<nav class="navbar" ng-hide="$parent.navbarIsHidden == true">
  <a href="/"><img med-rotate-on-hover class="navbarLogo" src="./images/newlogo.png" med-fade-on-load/></a>
  <a href="/" class="navbarTab" ng-hide="!mode">
    <img class="navPicture" src="./images/chopper.gif" med-fade-on-load/>
    <div>{{'navbar.me' | translate}}</div>
  </a>
  <a href="Projects" class="navbarTab" ng-hide="!mode">
    <med-svg class="navPicture" src="./images/svg/projects.svg"></med-svg>
    <div>{{'navbar.projects' | translate}}</div>
  </a>
  <a class="navbarTab" ng-click="setLanguage('fr')" ng-hide="mode">
    <med-svg class="navPicture" src="./images/svg/baguette.svg"></med-svg>
    <div>{{'navbar.french' | translate}}</div>
  </a>
  <a class="navbarTab" ng-click="setLanguage('en')" ng-hide="mode">
    <med-svg class="navPicture" src="./images/svg/bigBen.svg"></med-svg>
    <div>{{'navbar.english' | translate}}</div>
  </a>
  <div class="navbarTabOption">
    <div class="navPictureLittle" ng-click="$parent.navbarIsHidden = !$parent.navbarIsHidden">
      <med-svg src="./images/svg/up.svg"></med-svg>
    </div>
    <div class="navPictureLittle" ng-click="mode = !mode">
      <med-svg src="./images/svg/settings.svg"></med-svg>
    </div>
  </div>
</nav>
