<aside class="navPictureShow" ng-hide="$parent.navbarIsHidden == false" ng-click="$parent.navbarIsHidden = !$parent.navbarIsHidden">
  <div class="navPictureLittle">
    <med-svg src="./style/images/down.svg"></med-svg>
</aside>
<nav class="navbar" ng-hide="$parent.navbarIsHidden == true">
  <a href="Me"><img med-rotate-on-hover class="navbarLogo" src="./style/images/newlogo.png"/></a>
  <a href="Me" class="navbarTab" ng-hide="!mode">
    <img class="navPicture" src="./style/images/chopper.gif"/>
    <div>{{'navbar.me' | translate}}</div>
  </a>
  <a href="Blog" class="navbarTab" ng-hide="!mode">
    <med-svg class="navPicture" src="./style/images/svg/blog.svg"></med-svg>
    <div>blog</div>
  </a>
  <a href="Projects" class="navbarTab" ng-hide="!mode">
    <med-svg class="navPicture" src="./style/images/svg/projects.svg"></med-svg>
    <div>{{'navbar.projects' | translate}}</div>
  </a>
  <a href="Contact" class="navbarTab" ng-hide="!mode">
    <med-svg class="navPicture" src="./style/images/svg/email.svg"></med-svg>
    <div>{{'navbar.contact' | translate}}</div>
  </a>
  <a class="navbarTab languageTab" ng-click="setLanguage('fr')" ng-hide="mode">
    <med-svg class="navPicture" src="./style/images/svg/baguette.svg"></med-svg>
    <div>{{'navbar.french' | translate}}</div>
  </a>
  <a class="navbarTab languageTab" ng-click="setLanguage('en')" ng-hide="mode">
    <med-svg class="navPicture" src="./style/images/svg/bigBen.svg"></med-svg>
    <div>{{'navbar.english' | translate}}</div>
  </a>
  <div class="navbarTabOption">
    <div class="navPictureLittle" ng-click="$parent.navbarIsHidden = !$parent.navbarIsHidden">
      <med-svg src="./style/images/svg/up.svg"></med-svg>
    </div>
    <div class="navPictureLittle" ng-click="mode = !mode">
      <med-svg src="./style/images/svg/settings.svg"></med-svg>
    </div>
  </div>
</nav>
